<div class="field">
   <%= f.input :proyecto_titulo, :label_html=>{:class=>'a'} %>
</div>
<div class="field">
   <%= f.input :proyecto_version %>
</div>
<div class="field">
   <%= f.input :resumen, :input_html=>{:class=>'expand'} %>
</div>
<div class="field">
	<%= f.fields_for :stakeholders do |stake_form| %>
		<%= stake_form.input :role, :collection => Stakeholder::ROLES %>
		<%= stake_form.link_to_remove "Quitar" %>
	<% end %>
	<p><%= f.link_to_add "Agregar Stakeholder", :stakeholders %></p>
</div>