<div class="field">
   <%= f.input :proyecto_titulo, :label=>'Título', :placeholder=>'Título', :input_html=>{:class=>'span5'} %>
</div>
<div class="field">
   <%= f.input :proyecto_version, :label=>'Versión', :placeholder=>'Versión', :input_html=>{:class=>'span5'} %>
</div>
<div class="field">
   <%= f.input :resumen, :input_html=>{:rows=>0, :cols=>nil, :class=>'span5'}, :label=>'Resumen ejecutivo', :placeholder=>'Resumen ejecutivo' %>
</div>
<div class="field">
	<%= f.fields_for :charter_contactos do |part_form| %>
		<%= render :partial=>'form_participantes', :locals=>{:f => part_form} %>
	<% end %>
	<legend><i class="icon-user" style="vertical-align:baseline;"></i> Participantes</legend>
	<p>
		<%= f.link_to_add :charter_contactos, 'data-toggle'.to_sym=>"modal", :class=>'btn pull-right' do %>
			<i class="icon-plus"></i>
			Agregar Participante
		<% end %>
	</p>
</div>