<h1>Listing elemento_estrategicos</h1>

<table>
  <tr>
    <th>Texto</th>
    <th>Objetivonegocio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @elemento_estrategicos.each do |elemento_estrategico| %>
  <tr>
    <td><%= elemento_estrategico.texto %></td>
    <td><%= elemento_estrategico.objetivoNegocio %></td>
    <td><%= link_to 'Show', elemento_estrategico %></td>
    <td><%= link_to 'Edit', edit_elemento_estrategico_path(elemento_estrategico) %></td>
    <td><%= link_to 'Destroy', elemento_estrategico, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Elemento estrategico', new_elemento_estrategico_path %>
