<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @persona.nombre %>
</p>

<p>
  <b>Ap paterno:</b>
  <%= @persona.ap_paterno %>
</p>

<p>
  <b>Ap materno:</b>
  <%= @persona.ap_materno %>
</p>


<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
