<p id="notice"><%= notice %></p>

<p>
  <b>Razon:</b>
  <%= @empresa.razon %>
</p>

<p>
  <b>Rfc:</b>
  <%= @empresa.rfc %>
</p>

<p>
  <b>Sitioweb:</b>
  <%= @empresa.sitioweb %>
</p>


<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
